:root {
    --darkblueColor: #2A3855;
    --grayColor: #f2f2f2;
    --textColor: #6a6a6a;
    --parFont: 1rem;
    --h2-font: 2.25rem;
    --yellow-button: #fdd428;
    --yellow-hover: #ebc116;
}

.empty-page-content {
    background-image: url('../imgs/empty-page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.empty-page-content .background-part {
    background-color: rgba(93, 102, 137, 0.373);
    height: 100%;

}

.empty-page-content a {
    background-color: var(--darkblueColor);
}

.empty-page-content a {
    background-color: var(--yellow-button);
    border-radius: 30px;
    padding: 15px 80px;
}

.empty-page-content a:hover {
    background-color: var(--yellow-hover);
}

.empty-page-content .logo {
    margin-bottom: 50px;
}

.number-404 {
    font-size: 7rem;
    letter-spacing: -5px;
    margin-top: -20px;
}