html,
body {
    height: 100%;
}

.login-content {
    background-image: url('../imgs/login.webp');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.login-content .background-part {
    background-color: rgba(57, 57, 57, 0.5);
    height: 100%;

}

.login-content h2 {
    color: var(--darkblueColor);
}

.login-content a {
    background-color: var(--darkblueColor);
}

.login-content .logo {
    margin-bottom: 70px;
}

.form-check-input:checked {
    background-color: var(--darkblueColor);
}

.login-content .main-column {
    border: 1px white solid;
    border-radius: 10px;
    padding: 70px;
}

@media (max-width:576px) {
    .login-content .main-column {
        padding: 30px;
    }

    label {
        font-size: 14px;
    }
}